<pre class="table">
  <table class="table">
        <thead>
          <tr>
            <th>Route</th>
            <th>Action</th>
            <th>Params</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>/query</td>
            <td>GET</td>
            <td>q</td>
            <td>The q query param is short for query term. You can polymorphically search by team,
              <br> Name, Position, Case, Category, Description, and Outcome. See The search page for live examples.</td>
          </tr>

        </tbody>
  </table>

</pre>

