<pre class="table">
  <table class="table">
        <thead>
          <tr>
            <th>Route</th>
            <th>Action</th>
            <th>Params</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>/query</td>
            <td>GET</td>
            <td>q</td>
            <td class="notes">The q query param is short for query term. You can polymorphically search by team,
              <br> Name, Position, Case, Category, Description, and Outcome. See The search page for live examples.</td>
          </tr>

        </tbody>
  </table>

</pre>





<pre class="table">
  <h5>Example  response for New York Jets search <b>/query?q=NYJ</b></h5>
  "records": [
  {
  "id": 13,
  "date": "2014-09-04",
  "team": "NYJ",
  "name": "Quincy Enunwa",
  "pos": "WR",
  "arest_or_charge": "Arrested",
  "category": "Domestic violence",
  "description": "Charged with simple assault after alleged incident with woman at hotel in Florham Park, N.J.",
  "outcome": "Resolution undetermined.",
  "created_at": "2014-09-25T04:36:18.000Z",
  "updated_at": "2014-09-25T04:36:18.000Z"
  },
  {
  "id": 51,
  "date": "2013-12-30",
  "team": "NYJ",
  "name": "Kellen Winslow Jr.",
  "pos": "TE",
  "arest_or_charge": "Charged",
  "category": "Drugs",
  "description": "Accused of possession of synthetic marijuana after police responded to a complaint of him in a parked car outside a Target store in New Jersey on Nov. 19.",
  "outcome": "Resolution undetermined.",
  "created_at": "2014-09-25T04:36:18.000Z",
  "updated_at": "2014-09-25T04:36:18.000Z"
  },
  {
  "id": 68,
  "date": "2013-07-30",
  "team": "NYJ",
  "name": "Joe McKnight",
  "pos": "RB",
  "arest_or_charge": "Arrested",
  "category": "Outstanding warrant",
  "description": "Pulled over for speeding, he was accused of having outstanding warrants for previous unpaid traffic fines.",
  "outcome": "Resolution undetermined.",
  "created_at": "2014-09-25T04:36:18.000Z",
  "updated_at": "2014-09-25T04:36:18.000Z"
  },
  {
  "id": 81,
  "date": "2013-05-17",
  "team": "NYJ",
  "name": "Mike Goodson",
  "pos": "RB",
  "arest_or_charge": "Arrested",
  "category": "Drugs, gun",
  "description": "Accused of marijuana possession and having an illegal gun with hollow-point bullets.",
  "outcome": "Resolution undetermined.",
  "created_at": "2014-09-25T04:36:18.000Z",
  "updated_at": "2014-09-25T04:36:18.000Z"
  },
  {
  "id": 84,
  "date": "2013-04-29",
  "team": "NYJ",
  "name": "Claude Davis",
  "pos": "DE",
  "arest_or_charge": "Arrested",
  "category": "Drugs",
  "description": "Charged with marijuana possession after police saw occupied vehicle filled with smoke.",
  "outcome": "Resolution undetermined. Released by team day after arrest.",
  "created_at": "2014-09-25T04:36:18.000Z",
  "updated_at": "2014-09-25T04:36:18.000Z"
  },
  {
  "id": 85,
  "date": "2013-04-29",
  "team": "NYJ",
  "name": "Cliff Harris",
  "pos": "CB",
  "arest_or_charge": "Arrested",
  "category": "Drugs",
  "description": "Charged with marijuana possession after police saw occupied vehicle filled with smoke.",
  "outcome": "Resolution undetermined. Released by team.",
  "created_at": "2014-09-25T04:36:18.000Z",
  "updated_at": "2014-09-25T04:36:18.000Z"
  },
  {
  "id": 112,
  "date": "2012-10-31",
  "team": "NYJ",
  "name": "Bryan Thomas",
  "pos": "LB",
  "arest_or_charge": "Arrested",
  "category": "Domestic violence",
  "description": "Charged with assault on wife at their New Jersey home. He allegedly punched her in stomach.",
  "outcome": "Probation, pretrial intervention program.",
  "created_at": "2014-09-25T04:36:18.000Z",
  "updated_at": "2014-09-25T04:36:18.000Z"
  },
  {
  "id": 217,
  "date": "2010-09-21",
  "team": "NYJ",
  "name": "Braylon Edwards",
  "pos": "WR",
  "arest_or_charge": "Arrested",
  "category": "DUI",
  "description": "Pulled over at 5:15 a.m. because police say his windows were too tinted; smelled of alcohol and blood-alcohol measured .16",
  "outcome": "Pleaded guilty to misdemeanor. Deal included $500 fine, driver's license suspended for six months, entered into substance-abuse program.",
  "created_at": "2014-09-25T04:36:19.000Z",
  "updated_at": "2014-09-25T04:36:19.000Z"
  },
  {
  "id": 311,
  "date": "2008-11-29",
  "team": "NYJ",
  "name": "Shaun Ellis",
  "pos": "DE",
  "arest_or_charge": "Arrested",
  "category": "Drugs",
  "description": "Pulled over in Hanover, N.J., charged with marijuana possession, speeding and driving without insurance.",
  "outcome": "Resolution undetermined.",
  "created_at": "2014-09-25T04:36:19.000Z",
  "updated_at": "2014-09-25T04:36:19.000Z"
  },
  {
  "id": 408,
  "date": "2007-05-20",
  "team": "NYJ",
  "name": "Justin Miller",
  "pos": "CB",
  "arest_or_charge": "Arrested",
  "category": "Assault",
  "description": "Accused of third-degree assault after swinging at a man but hitting a woman instead at New York nightclub.",
  "outcome": "Resolution undetermined.",
  "created_at": "2014-09-25T04:36:19.000Z",
  "updated_at": "2014-09-25T04:36:19.000Z"
  },
  {
  "id": 443,
  "date": "2006-11-25",
  "team": "NYJ",
  "name": "Adrian Jones",
  "pos": "OT",
  "arest_or_charge": "Arrested",
  "category": "DUI",
  "description": "Pulled over for lane-change violation in New Jersey, he was was accused of drunken driving. Blood-alcohol content measured at .22.",
  "outcome": "Pleaded guilty to related charge. Driver's license suspended. Fined $20,000 by team.",
  "created_at": "2014-09-25T04:36:19.000Z",
  "updated_at": "2014-09-25T04:36:19.000Z"
  },
  {
  "id": 597,
  "date": "2003-10-01",
  "team": "NYJ",
  "name": "John Abraham",
  "pos": "DE",
  "arest_or_charge": "Arrested",
  "category": "DUI",
  "description": "Accused of refusing a sobriety test, drunk driving after crashing Hummer into fire hydrant in Baldwin, N.Y.",
  "outcome": "Pleaded guilty to reduced charge of driving while impaired, fined $330, benched by team for one game.",
  "created_at": "2014-09-25T04:36:19.000Z",
  "updated_at": "2014-09-25T04:36:19.000Z"
  },
  {
  "id": 643,
  "date": "2002-07-06",
  "team": "NYJ",
  "name": "Aaron Beasley",
  "pos": "CB",
  "arest_or_charge": "Charged",
  "category": "Battery",
  "description": "Accused of simple battery in bar fight in Jacksonville.",
  "outcome": "Dropped.",
  "created_at": "2014-09-25T04:36:19.000Z",
  "updated_at": "2014-09-25T04:36:19.000Z"
  },
  {
  "id": 675,
  "date": "2001-10-14",
  "team": "NYJ",
  "name": "Damien Robinson",
  "pos": "NYJ",
  "arest_or_charge": "Arrested",
  "category": "Gun",
  "description": "Pulled over outside Giants stadium, where bomb-sniffing dog helped lead police to an assault rifle in his trunk. He had permit for the gun in New York.",
  "outcome": "Charge dropped. Team fined him $30,000.",
  "created_at": "2014-09-25T04:36:19.000Z",
  "updated_at": "2014-09-25T04:36:19.000Z"
  },
  {
  "id": 738,
  "date": "2000-02-06",
  "team": "NYJ",
  "name": "Wayne Chrebet",
  "pos": "WR",
  "arest_or_charge": "Arrested",
  "category": "Disorderly conduct",
  "description": "Accused of disorderly conduct in altercation outside the Bamboo Bar in New Jersey.",
  "outcome": "Pleaded guilty to nuisance violation, fined $230.",
  "created_at": "2014-09-25T04:36:19.000Z",
  "updated_at": "2014-09-25T04:36:19.000Z"
  }
  ]
  }
</pre>


