.container
  h1 API DOCS
  p Currently there's only one endpoint, I plan on implementing more, and adding proper design to this site. I'd rec. <a href="https://github.com/sodigital/NFL-Arrests-API" target="_blank">forking the api and running it yourself</a>, as this is a free heroku vm, and most likely wont be in memory.

  = render "welcome/api_examples"
