/*
blue
1C3667

red
B52126
*/
body {
  margin-bottom: 100px;
  color: #999;
  background: #EEE;
}

a {
  margin-left:5px;
  color: #B52126;
  text-decoration:underline;
}
a:hover{
  color: #b00;
}

/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #B52126;
}*/




th {
  cursor: pointer;
}
th.header {text-transform: uppercase;}
th.headerSortDown {
  cursor: pointer;
  color:white;
  background:black;
}

.typeahead {
  display: none;
  height: 66px;
  width:500px;
  text-indent: 25px;
  margin-top: 25px;
  color: #000;
  font-weight: bold;
  border-radius: 129px;
  border:1px solid #1C3667;
  outline: none;
}

.retina-logo {
  max-width:100px;
  margin: 25px auto 0 auto ;
}

span.tag {
  display: block;
  color: #666;
  font-size: 11px;
}


.nav {
  line-height: 80px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: -8px;
  border-bottom: 1px solid rgba(200,200,200,.35);
  margin: 0 0 25px -40px;

}

.nav ul { display: inline;margin:0;}
.nav ul li { list-style: none;display: inline;margin-right:50px;}
.nav .active-nav {
  text-decoration: underline;
  /*color:#CCC;*/
}




.terminal {
  background-color: #444;
  color: #fff;
  border-radius: 3px;
  border: none;
  position: relative;
}

.disclaimer {
  font-size: 10px;
  color:#666;  
  float:right;
}

.black-bg{
  background: black;
  color: white;
}

,
.black-wrapper {
  background: #1C3667;
}
.small-font {
  font-size:11px;
  color: #FFF;

}
 
.results-count {
  font-size: 2em;
}

td.notes {
  line-height: 11px !important;
}
}