<div class="nav">
  <ul>
    <li><a href="/" class="<%= request.url ==  root_url ? "active-nav" : "d" %>">Search</a></li>
    <li> <%=link_to "Access the NFL Arrests API", nfl_arrests_api_path %></li>
    <li class="disclaimer"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>  DISCLAIMER: WE ARE UNAFFILIATED. REPORTING ON PUBLIC INFO. DATA UPDATES DAILY @ 6PM (last update <%= Arrests.first.created_at %> ) <a href="http://www.usatoday.com/sports/nfl/arrests/" target="_blank">THANK YOU:   USA TODAY </a></li>
  </ul>
</div>