<div class="nav">
  <ul>
    <li><a href="<%= root_url %>" class="<%= request.url ==  root_url ? "active-nav" : "d" %>">Search</a></li>
    <li><a href="<%= nfl_arrests_api_path %>" class="<%= request.url ==  nfl_arrests_api_path ? "active-nav" : "d" %>">Access the NFL Arrests API</a></li>
    <li class="disclaimer">DISCLAIMER: WE ARE UNAFFILIATED. REPORTING ON PUBLIC INFO. <a href="http://www.usatoday.com/sports/nfl/arrests/" target="_blank">THANK YOU USA TODAY FOR DOING ALL THE HARD WORK</a></li>
  </ul>
</div>